@use "../../../../abstracts/colors";

.avatar {
    &_container {
        width: 100%;
        text-align: center;
    }

    &_figure {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 5rem;
        padding-bottom: 2.5rem;
    }

    &_image {
        height: 17.5rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
    }

    &_textContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }
    
    &_text {
        width: 65ch;
        color: map-get(colors.$colors, 'textColor');
        padding: 5rem;
        padding-top: 2.5rem;
        text-align: center;
    }

    &_button {
        animation: 0.3s all;
        font-size: 1.5rem;
        font-family: Arial;
        width: 16rem;
        height: 5rem;
        border-width: 0.1rem;
        color: map-get(colors.$colors, 'textColor');
        border-color: map-get(colors.$button, 'secondary');
        font-weight: bold;
        border-radius: 1.8rem;
        text-shadow: 0px 1px 0px map-get(colors.$button, 'shadow');
        background: linear-gradient(map-get(colors.$button, 'secondary'), map-get(colors.$button, 'secondary'));
        filter: none;
    
        &:hover {
          cursor: pointer;
          background: linear-gradient(map-get(colors.$button, 'secondary'), darken(map-get(colors.$button, 'primary'), 10%));
        }
    
        &:active {
          margin-left: 0.2rem;
          margin-top: 0.2rem;
          border: none;
        }
    }
}