*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

body {
  height: 600vh;
  background: black;
}

@keyframes hintButton {
  0% {
    transform: translateY(-50%);
  }
  70% {
    transform: translateY(-70%);
  }
  100% {
    transform: translateY(-50%);
  }
}
.home {
  background: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("/images/Background/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home__light {
  background: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/Background/background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(85%) sepia(43%) saturate(134%) hue-rotate(125deg) brightness(100%) contrast(102%);
}

.introduction {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  height: 80vh;
  color: #e9ffff;
  filter: none;
}
.introduction__name {
  font-size: 400%;
  line-height: 1.1rem;
  filter: none;
}
.introduction__title {
  font-size: 170%;
  line-height: 1.1rem;
  font-weight: 100;
  filter: none;
}
.introduction__text {
  width: 55ch;
  font-size: 95%;
  filter: none;
}
.introduction__buttonWrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: none;
}
.introduction__button {
  position: absolute;
  animation: 0.3s all;
  font-size: 1.5rem;
  font-family: Arial;
  width: 16rem;
  height: 5rem;
  border-width: 0.1rem;
  color: #e9ffff;
  border-color: #008F83;
  font-weight: bold;
  border-radius: 1.8rem;
  text-shadow: 0px 1px 0px rgb(155, 155, 155);
  background: linear-gradient(#008F83, #008F83);
  filter: none;
}
.introduction__button:hover {
  cursor: pointer;
  background: linear-gradient(#008F83, #2ebfb7);
}
.introduction__button:active {
  margin-left: 0.2rem;
  margin-top: 0.2rem;
  border: none;
}

.navigation {
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  height: min-content;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  color: #e9ffff;
  top: 0;
  filter: none;
  z-index: 9999;
  max-height: 7.5rem;
}
.navigation__links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 5rem;
  position: relative;
  font-size: 125%;
  filter: none;
}
.navigation__link {
  color: #e9ffff;
  text-decoration: none;
  animation: all 2s;
  filter: none;
}
.navigation__link:hover {
  color: #00897E;
  filter: brightness(125%);
}
.navigation__contact {
  margin-top: -1.5rem;
  position: absolute;
  animation: 0.3s all;
  font-size: 1.2rem;
  font-family: Arial;
  width: 12rem;
  height: 3rem;
  border-width: 0.1rem;
  color: #e9ffff;
  border-color: #008F83;
  font-weight: bold;
  border-radius: 0.2rem;
  text-shadow: 0px 1px 0px rgb(155, 155, 155);
  background: linear-gradient(#008F83, #008F83);
  filter: none;
}
.navigation__contact:hover {
  cursor: pointer;
  background: linear-gradient(#008F83, #24968f);
}
.navigation__contact:active {
  margin-left: 0.2rem;
  margin-top: -1.3rem;
  border: none;
}
.navigation__logo {
  height: 5rem;
  aspect-ratio: 1/1;
  filter: none;
}
.navigation__logo:hover {
  cursor: pointer;
}
.navigation_img {
  height: 100%;
  filter: invert(100%);
}
.navigation_sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.settings {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;
  width: max-content;
  height: 2rem;
  padding: 3rem;
  font-size: 3rem;
  visibility: hidden;
  /*
  &[data-darkMode=off] &__language {
      color: black;
  }
  &[data-darkMode=on] &__language {
      color: white;
  }
  */
}
.settings__darkMode, .settings__language {
  animation: 0.5s all;
}
.settings__darkMode:hover, .settings__language:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.settings[data-darkMode=off] .settings__darkMode[data-darkModeSwitch=off] {
  display: block;
}
.settings[data-darkMode=off] .settings__darkMode[data-darkModeSwitch=on] {
  display: none;
}
.settings[data-darkMode=on] .settings__darkMode[data-darkModeSwitch=off] {
  display: none;
}
.settings[data-darkMode=on] .settings__darkMode[data-darkModeSwitch=on] {
  display: block;
}

.avatar_container {
  width: 100%;
  text-align: center;
}
.avatar_figure {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  padding: 5rem;
  padding-bottom: 2.5rem;
}
.avatar_image {
  height: 17.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.avatar_text {
  color: #e9ffff;
  padding: 5rem;
  padding-top: 2.5rem;
  text-align: center;
}

.skillBars_container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 5rem;
}

.skillBar_container {
  margin: 1rem;
  width: 100%;
  background: #ddd;
  border-radius: 1rem;
}
.skillBar_bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.skillBar_container #HTML {
  background: red;
  width: 95%;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.skillBar_container #Javascript {
  background: red;
  width: 80%;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.skillBar_container #SCSS {
  background: red;
  width: 70%;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.skillBar_container #NodeJs {
  background: red;
  width: 65%;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.Experience_container {
  width: 100%;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.experienceCard_container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  min-width: 40%;
  max-width: 40rem;
  min-height: 20rem;
}
.experienceCard_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 2rem;
}
.experienceCard_wrapper {
  width: 100%;
  padding: 0.5rem;
}
.experienceCard_icon {
  width: 10rem;
  height: auto;
}
.experienceCard_bar {
  text-align: center;
  background: #16697A;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}
.experienceCard_text {
  color: white;
}
.experienceCard_languageText {
  color: white;
}

.ProjectCard {
  height: min-content;
  width: 30%;
  max-width: 35%;
  max-height: 55rem;
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 5rem;
  border-radius: 0.5rem;
  background: rgba(69, 45, 249, 0.1);
}
.ProjectCard_img {
  height: 10rem;
  border-radius: 1rem;
}
.ProjectCard_name {
  font-size: 120%;
  background: #16697A;
  padding: 2rem;
  border-radius: 1rem;
  min-width: 100%;
  color: white;
}
.ProjectCard_text {
  padding-top: 1rem;
  max-width: 50ch;
  max-height: 10vh;
  padding-bottom: 2rem;
}
.ProjectCard_divider {
  display: flex;
  padding: 2rem;
  flex-direction: row;
  gap: 1rem;
  padding-top: 5rem;
}
.ProjectCard_button {
  background: none;
}
.ProjectCard_button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
html {
  scroll-behavior: smooth;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-top: -7.5rem;
}
.home__buttonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: none;
}
.home__hintButton {
  color: white;
  background: none;
  margin-top: 5rem;
  transform: translate(0%, -50%);
  animation: hintButton 2.5s 1s ease-in-out forwards infinite;
  filter: none;
}
.home__hintButton:hover {
  cursor: pointer;
  transform: scale(1.1) translate(0%, -50%) !important;
}

.aboutMe {
  background: linear-gradient(180deg, rgb(32, 69, 78) 10%, rgb(72, 159, 181) 50%, rgb(72, 159, 181) 100%);
  height: min-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 5rem;
}
.aboutMe_title {
  font-size: 300%;
  color: white;
  text-align: center;
}
.aboutMe_skillsTitle {
  font-size: 300%;
  color: white;
  text-align: center;
  padding-top: 10rem;
}
.aboutMe_divider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}
.aboutMe_sideElement {
  width: 50%;
}
.aboutMe_secondSideElement {
  width: 50%;
}
.aboutMe_secondSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2.5rem;
}

.projects {
  background: rgb(72, 159, 181);
  width: 100%;
  height: 200vh;
  z-index: 999;
  border-top: 0.15rem solid #3A8092;
}
.projects_title {
  font-size: 300%;
  text-align: center;
  padding-top: 7.5rem;
  color: white;
}
.projects_divider {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10rem;
  gap: 5rem;
}

.contact {
  width: 100%;
  height: 75vh;
  z-index: 999;
  background: rgb(72, 159, 181);
  border-top: 0.15rem solid #3A8092;
  padding: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.contact_title {
  color: white;
  font-size: 300%;
  text-align: center;
}
.contact_sentence {
  max-width: 40ch;
  color: white;
  text-align: center;
}
.contact_phone {
  color: white;
}
.contact_email {
  color: white;
}

@media screen and (max-width: 1400px), screen and (max-device-width: 1400px) {
  body {
    height: max-content;
    background-color: red;
  }
  .projects {
    min-height: min-content;
    height: max-content;
  }
  .ProjectCard {
    min-width: 35rem;
    height: 75rem;
  }
}
@media screen and (max-width: 850px), screen and (max-device-width: 850px) {
  .avatar_text {
    text-align: center;
    min-width: 30ch;
  }
  .avatar_figure {
    padding: 5;
  }
}
/*Base and reset*/
/*Components*/
/*Pages*/
/*Mediaqueries*/

/*# sourceMappingURL=style.css.map */
