@media screen and (max-width: 1400px), screen and (max-device-width: 1400px) {
    body {
        height: max-content;
        background-color: red;
        font-size: 90%;
    }

    .projects {
        min-height: min-content;
        height: max-content;
    }

    .ProjectCard {
        min-width: 35rem;
        height: 75rem;
    }
}

@media screen and (max-width: 850px), screen and (max-device-width: 850px) {
    .avatar {
        &_text {
            text-align: center;
            min-width: 30ch;
        }

        &_figure {
            padding: 5;
        }
    }
}

@media screen and (max-width: 650px), screen and (max-device-width: 650px) {

}