@media screen and (max-width: 1400px), screen and (max-device-width: 1400px) {
    body {
        height: max-content;
        font-size: 150%;
    }

    .projects {
        min-height: min-content;
        height: max-content;
    }
}

@media screen and (max-width: 850px), screen and (max-device-width: 850px) {
    .avatar {
        &_text {
            text-align: center;
            font-size: 110%;
            padding: 0;
            max-width: 35ch;
        }
        &_textContainer {
            gap: 5rem;
        }
    }
    .introduction {
        &_text {
            width: 10ch;
          }
    }

    .ProjectCard {
        min-width: 25rem;
        height: 80rem;

        &_github, &_explore, &_live {
            font-size: 80%;
        }
    }

    .contact { 
        height: max-content;
    }
}

@media screen and (max-width: 650px), screen and (max-device-width: 650px) {
    .navigation {
        display: none;
    }

    .mobileNavigation {
        display: flex;

        &__text {
            font-size: 60%;
        }
    }
}