@media screen and (max-width: 1400px), screen and (max-device-width: 1400px) {
    body {
        height: max-content;
        font-size: 150%;
    }

    .projects {
        min-height: min-content;
        height: max-content;
    }
}

@media screen and (max-width: 850px), screen and (max-device-width: 850px) {
    .avatar {
        &_text {
            text-align: center;
            font-size: 110%;
            padding: 0;
            max-width: 35ch;
        }
        &_textContainer {
            gap: 5rem;
        }
    }
    .introduction {
        &__text {
            width: 40ch;
          }
    }

    #Projects, #upcoming {
        width: 100%;
    }

    .ProjectCard, .ProjectCard_Upcoming {
        min-width: 30rem !important;
        height: 70rem;
        padding: 2.5rem;

        &_text {
            width: 25ch;
        }

        &_github, &_explore, &_live {
            font-size: 80%;
        }
    }

    .contact { 
        height: max-content;
    }
}

@media screen and (max-width: 650px), screen and (max-device-width: 650px) {
    .navigation {
        display: none;
    }

    .mobileNavigation {
        display: flex;

        &__text {
            font-size: 60%;
        }
    }
}