@use "../../../../abstracts/colors";

.Experience {
    &_container {
        width: 100%;
        display: flex;
        gap: 5rem;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.experienceCard {
    &_container {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: row;
        gap: 1rem;
        padding: 1rem;
        min-width: 40%;
        max-width: 40rem;
        min-height: 20rem;
    }

    &_wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        gap: 2rem;
    }

    &_wrapper {
        width: 100%;
        padding: 0.5rem;
    }

    &_icon {
        width: 10rem;
        height: auto;
    }

    &_bar {
        text-align: center;
        background: #16697A;
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 100%;
    }

    &_text {
        color: white;
    }

    &_languageText {
        color: white;;
    }
}