@use "../../../abstracts/colors";

.aboutMe {
    background: gray;
    height: 200vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 5rem;

    &_divider {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        border: 0.1rem solid purple;
    }

    &_sideElement {
        width: 50%;
        border: 0.1rem solid red;
    }

    &_secondSideElement {
        width: 50%;
        border: 0.1rem solid green;
    }
}