@use '../../../../../abstracts/colors';

.ProjectCard {
    width: 30%;
    min-width: 35rem;
    max-width: 35%;
    height: 55rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 5rem;
    border-radius: 0.5rem;
    background: rgba(69, 45, 249, 0.1);

    &_img {
        height: 10rem;
        border-radius: 1rem;
    }

    &_name {
        font-size: 120%;
        background: #16697A;
        padding: 2rem;
        border-radius: 1rem;
        width: 100%;
        color: white;
    }

    &_text {
        padding-top: 1rem;
        width: 50ch;
        height: 20vh;
        padding-bottom: 2rem;
    }

    &_divider {
        display: flex;
        padding: 2rem;
        flex-direction: row;
        gap: 1rem;
        padding-top: 5rem;
    }

    &_button {
        background: none;

        &:hover {
            cursor: pointer;
            transform: scale(1.1);
        }
    }
}